html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(248, 249, 255, 1);
  font-family: "Roboto", sans-serif;
}
ul li {
  color: black;
}

.preloader {
  display: flex;
}

.spinner {
  animation: rotation 2.5s infinite linear;
  position: absolute;
  z-index: 900;
  top: 50%;
  left: 50%;
  display: none;
}

.card_spinner {
  animation: rotation 2.5s infinite linear;
  position: relative;
  z-index: 900;
  top: 50%;
  left: 50%;
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader object {
  position: absolute;
  width: 446px;
  height: 154px;
  left: 35vw;
  top: 40vh;
}

.no-todos {
  display: none;
  position: absolute;
  left: 43.45%;
  right: 35.45%;
  top: 42.22%;
  bottom: 34.93%;
  color: #32394b;
}

#no_todos_text {
  margin-top: 1vh;
  position: relative;
  left: -4vw;
}

.main-div {
  display: none;
}

.main-div {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
