html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgba(248, 249, 255, 1);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.preloader {
  display: flex;
}

#spinnerDiv {
  position: absolute;
  top: 47%;
  left: 48%;
}

.spinner {
  animation: rotation 1s infinite linear;
  position: fixed;
  z-index: 999;
  display: none;
}

.midDiv {
  display: flex;
  justify-content: left;
}

.created_at_div {
  position: relative;
  width: 40%;
}

.spinner_div {
  position: relative;
  width: 50%;
  bottom: 50%;
}

.card_spinner {
  position: relative;
  animation: rotation 1.5s infinite linear;
  z-index: 900;
  display: none;
  left: 7%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader object {
  position: absolute;
  width: 446px;
  height: 154px;
  left: 35vw;
  top: 40vh;
}

.no-todos {
  display: none;
  position: absolute;
  left: 43.45%;
  right: 35.45%;
  top: 42.22%;
  bottom: 34.93%;
  color: #32394b;
}

#no_todos_text {
  margin-top: 1vh;
  position: relative;
  left: -4vw;
}

.main-div {
  display: none;
}

.main-div {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#toast {
  visibility: hidden;
  max-width: 17vw;
  min-height: 1vh;
  text-align: center;
  border-radius: 5px;
  padding: 12px 0;
  position: fixed;
  z-index: 800;
  left: 42%;
  right: 40%;
  top: 9%;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: normal;
}

#toast.show-err {
  background: rgba(232, 95, 95, 1);
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

#toast.show-no-err {
  background: rgba(11, 195, 117, 1);
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

@-webkit-keyframes fadein {
  from {
    top: 8%;
    opacity: 0;
  }
  to {
    top: 8%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 7%;
    opacity: 0;
  }
  to {
    top: 9%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 7%;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 7%;
    opacity: 0;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.container {
  justify-content: center;
}
textarea {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
#navbar {
  background: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 7.5vh;
  border: 1px solid #dde2ff;
  display: flex;
  justify-content: space-between;
}

#navBarObj {
  position: relative;
  top: 1%;
  width: 120px;
  margin: 0 12vw;
}

#searchDiv {
  position: relative;
  top: 20%;
  margin: 0 12.2vw;
}

.searchBar {
  visibility: hidden;
  opacity: 0;
  position: relative;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  height: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 25vw;
  color: #32394b;
  vertical-align: top;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.todo-ul-div {
  margin-top: 4vh;
}

#todoList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: left;
}

.todoListElem {
  overflow-x: hidden;
  width: 31.8%;
  min-height: 165px;
  background: #ffffff;
  border: 1px solid #dde2ff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoListElem textarea {
  position: relative;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  resize: none;
}

.todoListElem button {
  width: 10px;
  display: inline-block;
}

.main-div {
  width: 100vw;
}

#content {
  margin: 0 12vw;
}

.lg-txt {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: rgba(50, 57, 75, 1);
}

.md-txt {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: rgba(50, 57, 75, 1);
}

.sm-txt {
  color: rgba(187, 189, 208, 1);
  font-size: 14px;
  line-height: 16px;
}

.completed {
  position: relative;
  display: flex;
  float: right;
  max-width: 50%;
  background: #7a8dfd;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: 500;
}

.checkboxDiv {
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: left;
}

.bottomDiv {
  position: relative;
  /* margin-top: 5%; */
  display: flex;
  justify-content: space-between;
}

.filterBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #32394b;
  background: #ffffff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  min-height: 3.5vh;
  min-width: 2.5vw;
  text-align: center;
  padding: 0 15px;
}

.filterBtn:hover {
  box-shadow: #dde2ff 0px 1px 0px, #dde2ff 0px 0px 8px;
}

#filterBtnDiv {
  display: flex;
  direction: row;
  gap: 0.5vw;
}

.loadMoreDiv {
  position: relative;
  margin: 2.5% 0;
  display: flex;
  justify-content: center;
}

#loadMoreBtn {
  background: #32394b;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  min-height: 4vh;
  min-width: 8vw;

  text-align: center;
}

#loadMoreBtn:hover {
  box-shadow: #5e5e5e 0px 0.5px 0px, #5e5e5e 0px 0px 4px;
  border: none;
}

#createBtn {
  background: #7a8dfd;
  border: 1px solid #7a8dfd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  min-height: 3.8vh;
  min-width: 5.6vw;

  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

#createBtn:hover {
  box-shadow: #7a8dfd 0px 0.5px 0px, #7a8dfd 0px 0px 4px;
}

#btnsDiv {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5%;
}

.edtDltBtn {
  background: transparent;
  border: none;
}

.checkBtn {
  background: transparent;
  border: none;
}

.saveBtn {
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: rgba(50, 57, 75, 1);
  background: #ffffff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  height: 36px;
  min-width: 4vw;
  text-align: center;
  margin-right: -1vw;
  text-align: center;
}

.saveBtn:hover {
  box-shadow: #dde2ff 0px 0.5px 0px, #dde2ff 0px 0px 4px;
}

.no-todos {
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: center;
}

#no-todos-txt {
  margin-left: -3vw;
}

.newTaskBottomDiv {
  display: flex;
  gap: 30px;
  justify-content: left;
}

#searchBtn {
  vertical-align: top;
  padding-top: 1%;
}

.blur {
  filter: blur(2px);
}
